:root {
    --white: #ffffff;
    --bg: #2c3e50;
    --bg-darker: #0c2032;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--white);
    background-color: var(--bg);
}

a:link {
    color: white;
}

a:visited {
    color: #eed3ae;
}

#app {
    padding: 1em;
}
